{% load static %}

<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'dropdown.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- <script src="{% static 'hoverIntent.js' %}"></script> -->
<!-- <script src="{% static 'jquery.dropdown.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block head %}
{% endblock %}

<body>
  <div class="header">
    <div class="header-container">
      <div class="header-logo-container">
        <a style="text-decoration: none;" href="{% url 'index' %}">
          <!-- <img src="" class="header-logo-img pointer" alt="meesho-brand-logo"> -->
          <h3 class="header-logo-img pointer">GIT</h3>
        </a>
      </div>
      <div class="search-component">
        <div class="input-desk"><span class="search-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.36406 7.20406C1.36406 3.97872 3.97872 1.36406 7.20406 1.36406C10.4294 1.36406 13.0441 3.97872 13.0441 7.20406C13.0441 8.7756 12.4239 10.2016 11.4145 11.251C11.385 11.2742 11.3555 11.2996 11.328 11.328C11.2996 11.3555 11.2742 11.385 11.251 11.4145C10.2016 12.4239 8.7756 13.0441 7.20406 13.0441C3.97872 13.0441 1.36406 10.4294 1.36406 7.20406ZM11.6746 12.8526C10.4457 13.8266 8.89272 14.4075 7.20377 14.4075C3.2249 14.4075 0 11.1827 0 7.20377C0 3.2249 3.2249 0 7.20377 0C11.1827 0 14.4075 3.2249 14.4075 7.20377C14.4075 8.89272 13.8266 10.4457 12.8526 11.6746L15.7555 14.5775C16.0815 14.9025 16.0815 15.4305 15.7555 15.7555C15.4305 16.0815 14.9025 16.0815 14.5775 15.7555L11.6746 12.8526Z"
                fill="#6D6D7A"></path>
            </svg></span><input type="text" placeholder="Search for Products" value=""></div>
      </div>
      <div class="header-item-block">
        <div class="header-button-block"><h6 class="pointer">GIT Stories</h4></div>
        <div class="header-button-block">
          <a style="text-decoration: none;" href="{% url 'gitsponsor' %}">
          <h6 class="pointer">Become a GIT Sponsored Supplier</h6>
        </a>
      </div>
        <div class="header-button-block">
          {% if user.is_authenticated %}
          <a href="{% url 'login' %}">
            <!-- <h6 class="pointer">{{user.fullname}}</h6> -->
            <a href="{% url 'logout' %}"><h6 class="pointer">Logout</h6></a>
          </a>
          {% else %}
          <a href="{% url 'login' %}">
            <h6 class="pointer">Login</h6>
          </a>
          {% endif %}
        </div>
        <div style="position: relative;height: 10vh;" class="header-button-block">
          <button class="btn" onclick="cartHandler()"><i class="fa fa-lg fa-shopping-cart"></i></button>
          <span style="position: relative; right: 15px; top: -10px;" class='badge badge-success'
            id='lblCartCount'></span>
        </div>
      </div>
    </div>
    <div class="nav-head-container">
      <span class="nav-head-item pointer nonHover">Groceries and Spices<img alt="arrow" class="nav-head-icon"
          src="{% static 'nav_head_arr.svg' %}"></span>
      <span class="nav-head-item pointer nonHover">Wooden arts<img alt="arrow" class="nav-head-icon"
          src="{% static 'nav_head_arr.svg' %}"></span><span class="nav-head-item pointer nonHover">Jewellery
        &amp; Accessories<img alt="arrow" class="nav-head-icon" src="{% static 'nav_head_arr.svg' %}"></span>
      <span class="nav-head-item pointer nonHover">Cotton Clothes<img alt="arrow" class="nav-head-icon"
          src="{% static 'nav_head_arr.svg' %}"></span>
      <span class="nav-head-item pointer nonHover">Beauty Products
        <img alt="arrow" class="nav-head-icon" src="{% static 'nav_head_arr.svg' %}"></span>
      <span class="nav-head-item pointer nonHover">Bags &amp;
        Footwear<img alt="arrow" class="nav-head-icon" src="{% static 'nav_head_arr.svg' %}"></span>
      <span class="nav-head-item pointer nonHover">Home &amp; Kitchen<img alt="arrow" class="nav-head-icon"
          src="{% static 'nav_head_arr.svg' %}"></span><span class="nav-head-item pointer nonHover">Toys<img alt="arrow"
          class="nav-head-icon" src="{% static 'nav_head_arr.svg' %}"></span>
      <span class="nav-head-item pointer nonHover">Divine Products<img alt="arrow" class="nav-head-icon"
          src="{% static 'nav_head_arr.svg' %}"></span>
    </div>
  </div>

</body>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
          Your Shopping Cart
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="cartTable" class="table table-image table-responsive-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Inserted with js -->
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <h5>Total: <span class="price text-success" id="cartTotal"></span></h5>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</div>

<div style="margin-left:250px">
  <header>
    <br>
    <p><a href="{% url 'index' %}">GIT Cart</a></p>
    </p>
  </header>
</div>

<div class="container" style="margin-top: 15vh; padding: 5px;">
  {% block content %}

  {% endblock %}
</div>

<script>
  function cartCountDisplay() {
    let cartCount = localStorage.getItem('cartCount');
    let cart = document.getElementById('lblCartCount');
    if (!cartCount) {
      cart.innerText = 0;
    } else cart.innerText = cartCount;
  };

  function cartDelete(id) {
    console.log(id);
    let cart = JSON.parse(localStorage.getItem('cart'));
    let count = localStorage.getItem('cartCount');
    localStorage.setItem('cartCount', count - cart[id]['quantity']);
    delete cart[id];
    $('#cartModal').modal('hide');
    // cartHandler();
    cartCountDisplay();
    localStorage.setItem('cart', JSON.stringify(cart));
  }

  function cartHandler() {
    $('#cartModal').modal('show');
    let cart = JSON.parse(localStorage.getItem('cart'));

    let table = document.getElementById('cartTable');
    let total = 0;

    console.log(table.rows.length);
    for (let i = table.rows.length; i - 1 > 0; i--) {
      table.deleteRow(i - 1);
    }
    for (const product in cart) {
      let item = cart[product];
      total += item.quantity * item.price;
      row_data = `<tr>
                <td class="w-20">
                  <img src="${item.image}"
                    class="img-fluid img-thumbnail" height="100px" width="100px" alt="cart image">
                </td>
                <td>${item.name}</td>
                <td>₹ ${item.price}</td>
                <td class="qty"><input type="text" disabled class="form-control quantityControl" value="${item.quantity}" size="5"></td>
                <td>₹ ${item.price * item.quantity}</td>
                <td>
                  <a href="#" onclick="cartDelete(${product})" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>`;
      let row = table.insertRow();
      row.innerHTML = row_data;
    }
    document.getElementById('cartTotal').innerText = `₹ ${total}`;
  }

  $().ready(() => {
    cartCountDisplay();
  });
  
</script>

</html>