
{% extends 'mainapp/base.html' %}

{% block title%} GIT Cart {% endblock %}

  <!-- !PAGE CONTENT! -->
  {% block content %}
  <!-- <div class="w3-main" style="margin-left:250px"> -->

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->

    <!-- Image header -->
    <div class="w3-display-container w3-container">
      <img src="https://i.ibb.co/x1cjDj2/0001.jpg" style="width:100%">
      <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
        <!-- <h1 class="w3-jumbo w3-hide-small">New Products added</h1> -->
        <!-- <h1 class="w3-hide-large w3-hide-medium">New Products added</h1> -->
        <!-- <h1 class="w3-hide-small text-dark">COVERING ALL OVER TAMIL NADU</h1> -->
        <!-- <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p> -->
      </div>
    </div>

    <!-- Product grid -->
    <br>
    <hr>
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-sm-4">
          <!-- <div class="w3-display-container"> -->
            <a href="{% url 'productdetail' id=product.id %}">
              <img src="{{product.image}}" style="height: 250px; width: 250px;">
            </a>
            <span class="w3-tag w3-display-topleft">New</span>
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black"><a href="{% url 'productdetail' id=product.id %}">View Details <i class="fa fa-shopping-cart"></i></a></button>
            </div>
          <!-- </div> -->
          <p style="text-align: center;">{{product.title}}</p>
          <p style="text-align: center;"><b>₹ {{product.price}}</b></p>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--extra editing section-->
    <!--section editing-->
    <!-- Subscribe section -->
    <div class="w3-container w3-black w3-padding-32">
      <h1>Subscribe</h1>
      <p>To get special offers and notifications</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
      <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
    </div>

    <!-- Footer -->
    <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
      <div class="w3-row-padding">
        <div class="w3-col s4">
          <h4>Contact</h4>
          <p>Questions? Go ahead.</p>
          <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
            <button type="submit" class="w3-button w3-block w3-black">Send</button>
          </form>
        </div>

        <div class="w3-col s4">
          <br>
          <h5><a href="{% url 'gitsponsor' %}">Become Git Sponsored Seller</a></h5>          
        </div>

        <div class="w3-col s4 w3-justify">
          <h4>Request support</h4>
          <p><i class="fa fa-fw fa-map-marker"></i>GIT Cart</p>
          <p><i class="fa fa-fw fa-phone"></i> 9876543210</p>
          <p><i class="fa fa-fw fa-envelope"></i> diwaanchandar.ig19@bitsathy.ac.in</p>
          <h4>You Can Use</h4>
          <p><i class="fa fa-fw fa-cc-amex"></i> Debit card</p>
          <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
          <br>
          <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
          <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
          <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
          <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
          <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
      </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">Created Inside Bannari Amman Institute of Technology, Open Source
      Special Lab</div>

    <!-- End page content -->
  <!-- </div> -->



  {% endblock %}


