{% extends 'mainapp/base.html' %}

{% block title %}{{product.title}}{% endblock %}
{% block content %}

<div class="container">
  <div class="card" style="background:linen; padding: 50px;">
    <div class="row row-content align-items-center">
      <div class="col-12 col-md-6">
        <img src="{{product.image}}" alt="Product" style="width:100%;">
      </div>
      <div class="col-12 col-md-4 col-lg-6">
        <h2 style="font-weight: bold;">{{product.title}}</h2>
        <div class="badge badge-info badge-primary">
          <h5>₹ {{product.price}}</h5>
        </div>
        <br>
        <br>
        <p><button class="addToCart btn btn-primary">Add to Cart</button></p>
      </div>
        <p style="margin:20px; padding: 10px; border: 2px solid black;">{{product.description}}</p>
  </div>
</div>


<script>
  let product_id = {{product.id}};
  
  function addHandler(){
    let cartCount = localStorage.getItem('cartCount');
    let products = localStorage.getItem('cart');
    if (cartCount == null){
      localStorage.setItem('cartCount',1);
      products = {};
      products[product_id] = 1;
      localStorage.setItem('cart', JSON.stringify(products));
    }else {
      localStorage.setItem('cartCount', parseInt(cartCount)+1);
      products = JSON.parse(products);
      products[product_id] += 1;
      localStorage.setItem('cart', JSON.stringify(products));
      // console.log(products);
    };
    cartCountHandler();
    let alert = `<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hoooraaaaay!</strong> Product added to your cart successfully!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>`;
    $(alert).insertBefore('.card');
  };

  document.getElementsByClassName('addToCart')[0].addEventListener('click', addHandler);
</script>

{% endblock %}